.row-container{
    display: flex;
    flex-wrap: nowrap;
    padding:1rem;
    width: 100%;
    overflow-x: auto;
    
}
.row-container::-webkit-scrollbar{
    display: none;
}
.row-image-container{
    flex: 0 0 auto;
    margin: 0 0.5rem;

}
.row-image-container:hover{
    cursor: pointer;
}
.row-movie-image{
    height: 250px;
    transition: 0.25s;
}
.row-movie-image:hover{
    transform: scale(1.15);
}

@media screen and (min-width:2500px) {
    .row-movie-image{
        height: 500px;
    }
    
}