.body-overlay{
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.login-header-container.register-header-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    height: 100px;
}

.login-header-container.register-header-container a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}
.login-header-container.register-header-container a:hover{
    text-decoration: underline;
}

.login-background.register-background{
    background-image: none;
    background: white;
}
.login-overlay.register-overlay{
    background: white;
}
.login-main-container.register-main-container{
    background: white;
    padding:0;
    padding-top: 5rem;
}
.login-outer-container.register-outer-container{
    background: white;
    padding-top: 2rem;
    max-width: 450px;
    margin: 0 auto;
}
.login-outer-container.register-outer-container h1{
    color:black;
    font-size: 1.25rem;    
}
.login-outer-container.register-outer-container form{
    padding-top: 1.5rem;
}
.login-outer-container.register-outer-container form input{
    border: 1px solid green;
    background: white;
    color: black;
}
.login-container.register-container{
    margin-bottom: 0;
    height: 700px;
}

.login-container.register-container + .footer-container{
    background: #f3f3f3;
    color: #757575;
}
@media screen and (min-width:400px) {
    .login-outer-container.register-outer-container h1{
        font-size: 1.75rem;
    }
    
}