body{
    background: black;
}
.login-container{
    width: 100%;
    height: 550px;
    position: relative;
}
.login-header-container{
    position: absolute;
    padding:2rem;
    width: 100%;
    z-index: 1000;
}
.login-header-logo{
    width: 150px;
}
.login-background{
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/8f3e38a9-1c2c-4818-99b5-2d9bdff9ad1d/c41e0903-9724-4ee5-b273-a099abd8b961/DE-en-20220124-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-size:cover;
    width: 100%;
    height: 0;
}
.login-overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;


}
.login-main-container{
    position: relative;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 11;
    padding: 4.5rem 2rem 0 2rem;
}
.login-inner-container{
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}
.login-inner-container h1{
    color: white;
    font-size: 2rem;
}
.login-inner-container .form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 100%;
}
.login-inner-container .form input{
    background: rgba(128, 128, 128, 0.534);
    border:none;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    color: white;
    width: 100%;
    max-width: 600px;
}
.login-inner-container .login{
    width: 100%;
    padding: 0.9rem 0;
    border: none;
    border-radius: 5px;
    color: white;
    background: red;
    font-size: 1.25rem;
    font-weight: 700;
}
.login-inner-container .register-text{
    color: grey;
}
.login-inner-container .register-text a{
    text-decoration: none;
    color: white;
}

@media only screen and (min-width:700px) {
    .login-container{
        height: 850px;
    }
    .login-main-container{
        background: rgba(0,0,0,0.4);
        height: 100%;
    }
    .login-background{
        height: 100%;
    }
    .login-outer-container{
        max-width: 450px;
        background: rgba(0,0,0,0.6);
        margin: 0 auto;
        height: 650px;
    }
    .login-inner-container{
        max-width: 350px;  
        padding-top: 2rem;
        margin: 0 auto;
    }

    .login-inner-container .form{
        max-width: 350px;
        margin:  0 auto;
    }
    .login-inner-container .login{
        max-width: 350px;
        margin-bottom: 2rem;
    }
}