button:hover{
    cursor: pointer;
}
.browse-container{
    height: auto;
    background: rgba(0, 0, 0, 0.658);
    padding-bottom: 4rem;
}
.browse-header-container{
    height: 100px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.browse-header-container .browse-logo{
    height: 50px;
}
.browse-header-container .browse-user{
    height: 35px;
}
.browse-user-container{
    position: relative;
    width: 80%;
    max-width: 125px;
    display: flex;
    justify-content: center;
}

.user-account-container{
    position: absolute;
    width: 100%;
    top: 55px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.browse-user-container .browse-user-image:hover{
    cursor: pointer;
}
.open{
    visibility: visible !important;
}
.user-account-container p{
    font-size: 0.45rem;
    text-align: center;
    transform: translate(-15px,15px);
    width: 100%;
    color: white;
}
.user-account-container .logout{
    width: 100%;
    max-width: 100px;
    background: red;
    border: none;
    color: white;
    padding: 0.25rem 0;
    transform: translateY(-20px);
}

@media screen and (min-width:500px) {

    .user-account-container p{
        font-size: 0.7rem;
    }
    
}
